<% content_for :title, "Editing restaurante" %>

<h1>Editing restaurante</h1>

<%= render "form", restaurante: @restaurante %>

<br>

<div>
  <%= link_to "Show this restaurante", @restaurante %> |
  <%= link_to "Back to restaurantes", restaurantes_path %>
</div>
