<footer class="footer" style="min-height: 60px;">
  <div class="container">
    <div class="footer-content d-flex justify-content-between">
      <div class="footer-section col-md-4">
        <h6>Sobre Nós</h6>
        <p>Sua fonte confiável de serviços de qualidade.</p>
      </div>
      <div class="footer-section col-md-4">
        <h6>Contato</h6>
        Email: contato@exemplo.com <br>
        Telefone: (11) 1234-5678
      </div>
      <div class="footer-section col-md-4">
        <h6>Redes Sociais</h6>
        <div class="social-links">
          <%= link_to "Facebook", "#", class: "social-link" %>
          <%= link_to "Instagram", "#", class: "social-link" %>
          <%= link_to "Twitter", "#", class: "social-link" %>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center py-3">
      <div class="container">
        <p class="mb-0">
          © <%= Time.current.year %> Todos os direitos reservados
          <br>
        </p>
      </div>
    </div>
  </div>
</footer>
