<div id="<%= dom_id product_category %>">
  <p>
    <strong>Title:</strong>
    <%= product_category.title %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= product_category.restaurante_id %>
  </p>

</div>
