<div id="<%= dom_id product_category %>" class="bg-white rounded-lg shadow p-6 mb-4">
  <div class="mb-4">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">
      <%= product_category.title %>
    </h3>
  </div>

  <div class="flex items-center text-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
    </svg>
    <span class="font-medium">Restaurante:</span>
    <span class="ml-2"><%= product_category.restaurante.name rescue product_category.restaurante_id %></span>
  </div>
</div>
